@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
	/* Colors */
	--color-pear: #c4dd2a;
	--color-plantation: #304a43;
	--color-tangerine: #ff9b71;
	--color-storm: #faf8f4;
	--color-satin: #e6e2db;
	--color-mercury: #e5e5e5;
	--color-dust: #939e9c;

	--color-danger: #dc3545;
	--color-success: #28a745;

	--base-font-size: 16px;
}

/* Universal Styles */
*,
*::before,
*::after {
	box-sizing: border-box;
}

*,
html,
body {
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: var(--base-font-size);
	line-height: 1.5;
	word-wrap: break-word;
	height: 100%;
	width: 100%;
	color: var(--color-plantation);
	background-color: var(--color-storm);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin-bottom: 1.5rem;
	line-height: 1.2;
}

h1 {
	font-size: 2rem; /* 32px */
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: 1.5rem; /* 24px */
}

p {
	font-size: 1rem; /* 16px */
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: 1rem; /* 16px */
}

button {
	display: block;
	margin: 0 auto;
}

a,
button {
	outline: none;
	border: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	max-height: 100%;
}

label {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 3px;
}

input,
textarea {
	outline: none;
	border: 1px solid #e5e5e5;
	padding: 10px 12px;
	width: 100%;
	resize: none;
	color: var(--color-plantation);
}

textarea {
	min-height: 200px;
}

button {
	border-radius: 25px;
	padding: 12px 24px;
	background-color: var(--color-pear);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-plantation);
}

iframe {
	width: 100%;
	max-width: 100%;
}

.container {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
}

section .container {
	padding: 50px 0;
}

.container h1 {
	margin-bottom: 2rem;
}

.form-group {
	margin-bottom: 12px;
}

/* Navbar styles */
nav {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	position: sticky;
	z-index: 9999;
	top: 0;
	background-color: var(--color-storm);
}

nav .container {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 66px;
}

nav .container i {
	font-size: 1.8rem;
	padding: 0;
	margin: 0;
}

.navbar-brand {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 700;
}

.navbar-brand span {
	color: var(--color-pear);
}

#navToggler {
	display: block;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.navbar-nav {
	position: absolute;
	top: 66px;
	text-align: center;
	left: 0;
	width: 100%;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	display: none;
}

.nav-item {
	padding: 12px 8px;
	background-color: var(--color-storm);
}

.cart {
	position: relative;
}

.cart span {
	height: 20px;
	width: 20px;
	position: absolute;

	top: 8px;
	right: 15px;
	background-color: var(--color-pear);
	font-size: 0.8rem;
	font-weight: 700;
	border-radius: 50%;
}

.overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

/* Navbar profiles */
.dropdown-toggle {
	position: relative;
}

.profile-dropdown {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	border-radius: 8px;
	padding: 10px 20px;
	position: absolute;
	background-color: var(--color-storm);
	right: 0;
	z-index: 10;
	top: 50px;
	display: none;
}

.profile-heading {
	display: flex;
	gap: 15px;
	align-items: center;
	border-bottom: 1px solid var(--color-dust);
	padding-bottom: 10px;
}

.profile-heading div {
	text-align: left;
}

.profile-heading div p:nth-child(1) {
	font-weight: 700;
	white-space: nowrap;
}

.profile-heading div p:nth-child(2) {
	font-size: 14px;
}

.profile-dropdown ul {
	text-align: left;
}

.profile-dropdown ul li {
	padding: 8px 5px;
}

/* Modal */
.modal {
	background-color: var(--color-storm);
	width: 90%;
	max-width: 500px;
	padding: 60px;
	border-radius: 10px;
	position: fixed;
	z-index: 70;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.modal p {
	text-align: center;
	font-size: 1.5rem;
}

.modal-buttons {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 40px;
}

.modal-buttons button {
	margin: unset;
}

.modal-buttons button:nth-child(1) {
	background-color: var(--color-satin);
}

.modal-buttons button:nth-child(2) {
	background-color: var(--color-danger);
	color: var(--color-storm);
}
/* Hero section */
.hero {
	height: calc(100vh - 66px);
	background-image: url('../img/assets/hero-bg-colored.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero h1 {
	color: var(--color-pear);
	font-weight: 900;
}

.hero p {
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	padding: 0 15px;
	color: var(--color-storm);
}

.hero button {
	margin-top: 30px;
}

/* Products categories */
.product-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.card {
	overflow: hidden;
	width: 45%;
	height: 200px;

	display: flex;
	flex-direction: column;
}

.card-img {
	background-color: var(--color-mercury);
	padding: 15px;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.card-info {
	height: 20%;
	background-color: var(--color-plantation);
	color: var(--color-storm);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--color-tangerine);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* About section */
.about {
	background-color: var(--color-satin);
}

.about-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	flex-direction: column;
}

.about-text p {
	text-align: center;
}

/* Company perks */
.perks-wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.perks-item {
	width: 250px;
	text-align: center;
}

.perks-item h2 {
	text-transform: uppercase;
	font-style: italic;
	margin-top: 20px;
}

.perks-icon {
	margin: 0 auto;
	width: 120px;
}

.perks-icon img {
	color: #c4dd2a;
	filter: invert(83%) sepia(28%) saturate(1167%) hue-rotate(16deg) brightness(102%) contrast(86%);
}

/* Contact section */
.contact {
	background-color: var(--color-plantation);
	color: var(--color-storm);
}

.contact .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.contact h1 {
	color: var(--color-tangerine);
}

.contact-form form {
	background-color: var(--color-storm);
	padding: 15px 20px;
	border-radius: 15px;
}

.contact-location p {
	margin-bottom: 10px;
	text-align: center;
}

form h2 {
	color: var(--color-plantation);
	text-align: center;
	text-transform: uppercase;
}

.form-group label {
	color: var(--color-plantation);
}

.mb-3 {
	margin-bottom: 8px;
}

/* Footer section */
footer {
	padding-top: 30px;
	background-color: var(--color-satin);
}

.footer-main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 25px;
}

.footer-brands {
	text-align: center;
	font-weight: 600;
	font-style: italic;
}

.footer-brands p {
	font-weight: 400;
	font-size: 14px;
}

.footer-media {
	font-size: 2rem;
	display: flex;
	margin-top: 20px;
	justify-content: center;
	gap: 25px;
}

.footer-heading {
	font-weight: 600;
	text-align: center;
	margin-bottom: 8px;
}

.footer-contact {
	padding: 0 25px;
}

.footer-contact ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-contact ul li {
	display: flex;
	gap: 15px;
	align-items: center;
}

.footer-links ul {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.footer-links ul li {
	padding: 8px 12px;
}

.footer-policy {
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid var(--color-dust);
}

.footer-policy ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-policy ul li {
	padding: 8px 12px;
}

.footer-author {
	background-color: var(--color-plantation);
	color: var(--color-storm);
	text-align: center;
	padding: 10px;
}

.footer-author p {
	font-size: 12px;
}

/* Login styles */
.forms a {
	font-weight: 700;
	color: var(--color-tangerine);
	text-decoration: underline;
}

.forms .container {
	width: 90%;
	max-width: 400px;
}

.forms h1 {
	margin-bottom: 15px;
}

.forms p {
	text-align: center;
	margin-bottom: 25px;
}

.form-group:nth-child(1) {
	margin-top: 20px;
}

.form-terms {
	margin-top: 10px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
}

.form-terms label {
	margin: 0;
	padding: 0;
}

.form-terms p {
	margin: 0;
}

.form-terms input {
	height: 15px;
	width: 15px;
}

.form-terms a {
	text-decoration: underline;
	padding-bottom: 4px;
	color: var(--color-tangerine);
}

.forms button {
	margin: 25px auto 30px;
}

.forms input {
	outline: none;
}

/* Loading screen */
.load-nav .container {
	display: flex;
	justify-content: center;
}

.loading-content {
	height: calc(100vh - 66px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.loading-content i {
	font-size: 8rem;
	color: var(--color-pear);
	margin-bottom: 30px;
}

.loading-content h1 {
	margin-bottom: 0;
	text-transform: capitalize;
	font-size: 3rem;
}

.loading-content p {
	font-size: 1.2rem;
	margin: 10px 10px 30px;
}

.loading-content a {
	text-decoration: underline;
	color: var(--color-tangerine);
}

/* Profile page styles */
.profile .container {
	display: flex;
	gap: 20px;
	align-items: flex-start;
}

.profile-tabs {
	flex: 0 0 250px;
	max-height: auto;
}

.profile-tabs,
.profile-content {
	border: 1px solid rgba(0, 0, 0, 0.075);
	background-color: #fff;
	/* padding: 20px; */
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.profile-content {
	padding: 20px;
}

.profile-content p {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}

.profile-tabs li {
	padding: 8px 20px;

	display: flex;
	align-items: center;
}

.profile-tabs li i,
.profile-tabs li a {
	height: 100%;
	display: flex;
	align-items: center;
}

.profile-tabs li i {
	flex: 0 0 25px;
}

.profile-tabs li a {
	flex: 1 0 0;
	padding-left: 5px;
}

.tab-active {
	background-color: rgba(0, 0, 0, 0.075);
	border-left: 3px solid var(--color-plantation);
}

.profile-content {
	flex: 1 0 0;
}

.profile-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
}

.profile-component {
	display: flex;
}

.profile-content p {
	text-align: center;
}

.profile-img {
	height: 120px;
	width: 120px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.profile-info {
	width: 500px;
	margin: 0 auto;
}

.profile-info li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	gap: 20px;
	justify-content: flex-start;
}

/* =========================== MEDIA QUERIES =========================== */

@media only screen and (min-width: 992px) {
	#navToggler {
		display: none;
	}

	.navbar-nav {
		display: flex !important;
		position: static;
		width: unset;
		align-items: center;
		box-shadow: unset;
	}

	.overlay {
		/* display: none !important; */
	}

	.card {
		width: 25%;
		height: 250px;
	}

	/* about section */
	.about-wrap {
		flex-direction: row;
	}

	.about-text h1 {
		margin-bottom: 10px;
	}

	.about-text,
	.about-img {
		width: 50%;
	}

	/* company perks section */
	.perks-item {
		width: 210px;
	}

	/* contact */
	.contact .container {
		flex-direction: row;
		gap: 20px;
	}

	/* footer styles */
	.footer-main {
		flex-direction: row;
		gap: 40px;
	}

	.footer-links ul {
		text-align: left;
	}

	.footer-policy {
		border-top: unset;
	}

	.footer-policy ul {
		flex-direction: row;
	}
}

@media only screen and (min-width: 1024px) {
	.card {
		width: 25%;
		height: 350px;
	}

	/* about section */
	.about-text,
	.about-img {
		width: 40%;
	}

	.container {
		max-width: 1200px;
	}
}

/* Validations / Active States */
.active {
	font-weight: 700;
	color: var(--color-tangerine);
}

.required {
	color: var(--color-danger);
	margin-left: 5px;
}

/* Validation CSS */
.invalid-feedback {
	display: none;
	font-size: 12px;
	color: #dc3545;
	padding-left: 4px;
}

.form-control.is-invalid {
	border: 1px solid var(--color-danger);
}

.invalid-form {
	background-color: var(--color-danger);
	border-radius: 4px;
	padding: 6px 12px;
	font-size: 12px;
	color: var(--color-storm);
	width: 100%;
	margin: 25px 0 10px;
	display: none;
}

.captcha-wrap {
	overflow: hidden;
	background-image: url('../img/assets/captcha-bg.jpg');
	/* margin: 20px auto 10px; */
	width: 200px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 5px;
	padding: 10px;
	color: rgba(0, 0, 0, 0.6);
	font-family: 'Noto Serif', serif;
}

.captcha-wrap span {
	transform: skew(10deg);
}

.form-group .wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 20px 0 10px;
}

.form-group .wrap i {
	cursor: pointer;
}

/* FIlters styles */
.filter-list {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.filter-button {
	margin: unset;
	background-color: var(--color-satin);
}

.filter-active {
	background-color: var(--color-pear);
}

/* Product List */
.product-list {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	width: 100%;
}

.product-card {
	width: 156px;
	height: 300px;
	display: flex;
	flex-direction: column;
}

.product-img {
	height: 70%;
}

.producct-info {
	height: 10%;
}

.product-name {
	text-transform: uppercase;
	text-align: justify;
	font-weight: 700;
	font-size: 1.2rem;
}

.product-category {
	color: var(--color-dust);
	text-transform: uppercase;
	font-weight: 700;
	margin: 3px 0;
}

.product-price {
	color: var(--color-tangerine);
	font-size: 1.4rem;
	font-weight: 700;
}

/* Terms and conditions */
.terms-and-conditions-section {
	padding: 10px 150px;
}
.terms-and-conditions-section h1 {
	font-size: 25px;
	margin: 10px 0;
	text-align: left;
}
.terms-and-conditions-section h2 {
	font-size: 20px;
}
.terms-and-conditions-section p {
	margin: 15px 0;
	font-size: 16px;
	font-weight: 500;
}
.terms-and-conditions-section ul {
	margin-left: 30px;
	font-size: 16px;
	font-weight: 500;
	list-style-type: disc;
}
.terms-and-conditions-section li {
	margin: 15px;
}
