@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --headerclr:#222533;
    --mainclr:#ffcb0f;
}
*,html,body{
  font-family: 'Montserrat';
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: .2s;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/*Header*/
.header{
    padding: 10px 160px 0 160px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    background-color: #FFFFFF;
    height: 70px;
    justify-content: space-between;
    align-items: top;
    z-index: 10000;
}
.header .logo a{
    color: #364A46;
    font-size: 25px;
    font-style: italic;
    font-weight: 800;
}
.header .logo a span{
    color: #C4DD2A;
    transition: all 0.3s ease;
}
.header.sticky .logo a span{
    color: #fff;
}
.header .menu-btn{
  position: absolute;
  top: 14px;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left: 1179px;
}
.nav{
    width: 67%;
}
.nav a{
    color: #184d21;
    font-weight: 600;
    font-size: 15px;
    margin-left: 28px;
    float: right;
}
.nav a:hover{
    color: #FF9B71;
}
.icon-header div{
    color: #ffffff;
    font-size: 10px;
    cursor: pointer;
}
.icon-header i{
    margin-left: 15px;
    font-size: 20px;
}

main{
  padding: 100px 0;
}
.container{
    display: inline-table;
    margin: 0 160px;
    width: 76%; 
}
.title{
    text-align: center;
    padding-bottom: 20px;
}
.title i{
    padding-right: 20px;
    font-size: 50px;
    color: #304A43;
}
.title h1{
    display: inline;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: #304A43;
}
.cart{
    display: inline-flex;
    width: 100%;
    background-color: #364A46;
}
.prod{
    display: flex;
    width: 100%;
    border: 1px solid #E6E2DB;
}
.col{
    padding: 10px;
}
.col p{
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
}
.col-2 p{
    text-align: left;
}
.col-1{
    width: 6%;
}
.col-2{
    width: 15%;
    padding-left: 25px;
}
.col-3{
    width: 20%;
}
.col-4, .col-5, .col-6{
    width: 18%;
}
.col-7{
    width: 8%;
}
.cart-prod{
    display: inline-flex;
    margin: 10px 0;
    width: 100%;
}
.cart-prod .col p{
    color: #364A46;
    text-align: center;
}
.cart-prod .col-3 p{
    text-align: left;
}
.col-1 input{
    position: relative;
    left: 25px;
}
.cart-prod input{
    position: relative;
    top: 66px;
}
.prod-img{
    width: 100%;
    background-color: #E6E2DB;
}
.prod-img img{
    position: relative;
    top: 2px;
    left: 17px;
    width: 75%;
}
.col-3 p, .cart-prod p{
    text-align: left;
    padding-top: 50px;
}
.quantity {
    display: inline-block; 
}
.cart-prod .col-6 p{
    color: #FF9B71;
}
.quantity .input-text.qty {
    top: 45px;
    left: 20px;
     width: 35px;
     height: 30px;
     padding: 0 5px;
     text-align: center;
     background-color: transparent;
     border: 1px solid #efefef;
}
.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 top: 45px;
 left: 20px;
 padding: 7px 10px 8px;
 height: 30px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;
}

.quantity.buttons_added .minus {
 border-right: 0; 
}

.quantity.buttons_added .plus {
 border-left: 0; 
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; 
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; 
}
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; 
}
.total-items{
    margin-top: 50px;
    background-color: #E6E2DB;
}
.total-items .col{
    display: inline-flex;
}
.col-total-1{
    width: 65%;
    padding: 15px 0;
}
.col-total-2{
    width: 33%;
    padding: 15px 0;
}
.col-total-1 p{
    padding-left: 25px;
    font-size: 25px;
    color: #364A46;
}
.col-total-2 button{
    margin-left: 60px;
    padding: 10px;
    width: 70%;
    font-size: 20px;
    font-weight: 600;
    color: #364A46;
    background-color: #C4DD2A;
    border: none;
}
.col-total-2 button:hover{
     color: #ffffff;
     background-color: #304A43;
}
.bottom-btn{
    padding-top: 40px;
    text-align: center;
}
.clear-btn{
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #304A43;
    background-color: #E6E2DB;
}
.continue-btn{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background-color: #304A43;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Animated Spinner*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */
footer .column {
  float: left;
  padding: 10px;
  background-color: #E6E2DB;
}
footer .row{
    margin-bottom: 0;
}
/* Clear floats after the columns */
footer .row:after {
  content: "";
  display: table;
  clear: both;
}
footer .logo{
    padding-top: 40px;
}
footer .logo a{
    padding-left: 150px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    color: #364A46;
    font-size: 30px;
}
footer .logo a span{
    color: #C4DD2A;
    transition: all 0.3s ease;
}
.left{
    width: 600px;
    align-items: center;
}
.center, .left{
    height: 289px;
}
.center, .right{
    width: 374px;
}
.tagline p{
    padding: 10px 150px;
    width: 100%;
    font-size: 11px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
}
.socmed{
    padding: 15px 140px;
}
.socmed i{
    margin-left: 20px;
    color: #364A46;
    height: 25px;
    font-size: 30px;
}
.socmed img{
    height: 25px;
}
.center h2{
    padding-top: 40px;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    color: #364A46;
}
.center i{
    padding-top: 20px;
    float: left;
    font-size: 15px;
    color: #364A46;
}
.center p{
    padding: 20px 20px 5px 25px;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: left;
    color: #293329;
}
.right h2{
    padding-top: 40px;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    color: #364A46;
}
.right p{
    padding: 10px 0;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 500;
}
.policy{
    padding: 10px;
    text-align: center;
    background-color: #E6E2DB;
}
.policy p{
     margin: 20px;
    display: inline;
    font-size: 15px;
}
.footer-bottom{
    padding: 25px;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 100;
    color: #ffffff;
    background-color: #283E39;
}

/*Responsive Media Query*/
@media (max-width: 1024px) {
    .nav {
        width: 420px;
    }
    .nav a{
        font-size: 13px;
    }
    .title h1, .title i {
        font-size: 35px;
    }
    .prod-img {
        padding: 5px;
    }
    .prod-img img {
        left: 9px;
        width: 80%;
    }
    .col-3 p, .cart-prod p {
        padding-top: 40px;
    }
    .col-total-1 p {
        font-size: 20px;
    }
    .quantity.buttons_added .minus, .quantity.buttons_added .plus, .quantity .input-text.qty {
        top: 35px;
    }
    footer .column {
        padding: 0;
    }
    .left {
        width: 42%;
        height: 290px;
    }
    .center, .right {
        width: 29%;
        height: 290px;
    }
    .col p {
        font-size: 11px;
    }
    .col-total-1 p, .col-total-2 button, 
    .clear-btn, .continue-btn{
        font-size: 16px;
    }
    footer .logo a {
        font-size: 25px;
    }
    .tagline p {
        padding: 5px 0 10px 150px;
        font-size: 12px;
    }
    .socmed {
        padding: 0 0 0 140px;
    }
    .socmed i {
        margin-left: 8px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 20px 120px 0 120px;
    }
    .nav {
        display: none;
    }
    .header .menu-btn {
        top: 17px;
        color: #000;
        font-size: 23px;
        padding-left: 445px;
    }
    .icon-header{
        margin-right: 4px;
    }
    .title {
        padding-left: 50px;
    }
    .title h1, .title i {
        font-size: 30px;
    }
    .container {
        margin: 0 120px;
    }
    .prod-img img {
        left: 5px;
        width: 80%;
    }
    .col {
        padding: 5px;
    }
    .col p {
        font-size: 9px;
    }
    .col-3 p, .cart-prod p {
        padding-top: 35px;
    }
    .quantity.buttons_added .minus, 
    .quantity.buttons_added .plus, 
    .quantity .input-text.qty {
        top: 30px;
    }
    .quantity .input-text.qty,
    .quantity.buttons_added .minus, 
    .quantity.buttons_added .plus, 
    .quantity .input-text.qty {
        width: 20px;
        height: 20px;
    }
    .quantity.buttons_added .plus,
    .quantity.buttons_added .minus
     {
        padding: 0;
    }
    .col-total-1 p, .col-total-2 button, 
    .clear-btn, .continue-btn{
        font-size: 11px;
    }
    .col-total-2 button {
        font-size: 10px;
    }
    footer .logo a {
        padding-left: 120px;
        font-size: 20px;
    }
    .tagline p {
        padding: 5px 0 10px 120px;
        font-size: 9px;
    }
    .socmed {
        padding: 0 0 0 115px;
    }
    .socmed i {
        margin-left: 4px;
        font-size: 25px;
    }
    .center h2, .right h2{ 
        font-size: 13px;
    }
    .center i{
        font-size: 12px;
    }
    .center p {
        padding: 20px 20px 5px 15px;
    }
}

@media (max-width: 640px){
    .header {
        padding: 10px 100px 0 100px;
        height: 50px;
    }
    .header .menu-btn {
        top: 6px;
        padding-left: 310px;
    }
    .title {
        padding-left: 0;
    }
    .title h1, .title i {
        font-size: 25px;
    }
    .container {
        width: 70%;
        margin: 0 100px;
    }
    .col-3 p, .cart-prod p {
        padding-top: 30px;
    }
    .col p {
        font-size: 8px;
    }
    .quantity.buttons_added .minus, 
    .quantity.buttons_added .plus, 
    .quantity .input-text.qty {
        top: 30px;
    }
    .quantity .input-text.qty,
    .quantity.buttons_added .minus, 
    .quantity.buttons_added .plus, 
    .quantity .input-text.qty {
        width: 17px;
        height: 17px;
    }
    .col-total-2 button {
        margin-left: 40px;
    }
    footer .logo a {
        padding-left: 100px;
        font-size: 16px;
    }
    .tagline p {
        padding: 5px 0 10px 100px;
        font-size: 7px;
    }
    .socmed {
        padding: 0 0 0 97px;
    }
    .socmed i {
        margin-left: 2px;
        font-size: 18px;
    }
    .center h2, .right h2 {
        font-size: 11px;
    }
    .center p {
        padding: 15px 20px 5px 15px;
        font-size: 9px;
    }
    .center i {
        padding-top: 15px;
        font-size: 9px;
    }
    .right p {
        padding: 13px 0;
        font-size: 9px;
    }
    .policy p{
        font-size: 10px;
    }
    .footer-bottom{
        font-size: 11px;
    }
}

@media (max-width: 375px){
    .header {
        padding: 5px 20px 0 20px;
    }
    .header .logo a{
        font-size: 20px ;
    }
    .icon-header {
        margin-right: 0;
    }
    .icon-header i {
        margin-left: 5px;
        font-size: 20px;
    }
    .header .menu-btn {
        top: 3px;
        padding-left: 230px;
        font-size: 20px;
    }
    .container {
        width: 88%;
        margin: 0 20px;
    }
    .col-5{
    width: 20%;
    }
    .col-total-2 button {
        margin-left: 0;
        width: 90%;
        font-size: 8px;
    }
    .col-3 p, .cart-prod p {
        padding-top: 12px;
    }
    .quantity.buttons_added .minus, 
    .quantity.buttons_added .plus, 
    .quantity .input-text.qty {
        top: 10px;
    }
    .quantity .input-text.qty,
    .quantity.buttons_added .minus, 
    .quantity.buttons_added .plus, 
    .quantity .input-text.qty {
        width: 15px;
        height: 15px;
    }
    .left, .center, .right{
        width: 100%;
    }
    .prod-img img {
        left: 3px;
    }
    footer .logo a{
        text-align: center;
    }
    .tagline p, .socmed {
        padding-left: 0;
        text-align: center;
    }
    .tagline p{
        font-size: 9px;
    }
    .center, .left{
        height: 120px;
    }
    .center i{
        padding-left: 100px;
    }
    .center h2 {
        padding: 0 0 10px 0;
        text-align: center;
    }
    .center p {
        padding: 5px 20px 5px 120px;
    }
    .center i {
        padding-top: 10px;
        text-align: center;
    }
    .right{
        height: 210px;
    }
    .right h2 {
        padding-top: 10px;
        text-align: center;
    }
    .right p {
        padding: 10px 0;
        text-align: center;
    }
    .policy{
        border-top: 1px solid #000;
    }
    .policy p{
        margin: 10px;
        display: list-item;
        overflow: hidden;
    }
}

@media (max-width: 320px){
    .header .logo a {
        font-size: 16px;
    }
    .icon-header i {
        font-size: 16px;
    }
    .header .menu-btn {
        top: 4px;
        padding-left: 195px;
        font-size: 16px;
    }
    .title h1, .title i {
        font-size: 20px;
    }
    .col p {
        font-size: 7px;
    }
    .col-total-2 button {
        width: 100%;
    }
    .clear-btn, .continue-btn {
        font-size: 9px;
    }
    .clear-btn {
           margin-right: 10px;
        }
}




