@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --headerclr:#222533;
    --mainclr:#ffcb0f;
}
*,html,body{
  font-family: 'Montserrat';
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: .2s;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/*Header*/
.header{
    padding: 10px 160px 0 160px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    background-color: #FFFFFF;
    height: 70px;
    justify-content: space-between;
    align-items: top;
    z-index: 10000;
}
.header .logo a{
    color: #364A46;
    font-size: 25px;
    font-style: italic;
    font-weight: 800;
}
.header .logo a span{
    color: #C4DD2A;
    transition: all 0.3s ease;
}
.header.sticky .logo a span{
    color: #fff;
}
.header .menu-btn{
  position: absolute;
  top: 14px;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left: 1179px;
}
.nav{
    width: 67%;
}
.nav a{
    color: #184d21;
    font-weight: 600;
    font-size: 15px;
    margin-left: 28px;
    float: right;
}
.nav a:hover{
    color: #FF9B71;
}
.icon-header div{
    color: #ffffff;
    font-size: 10px;
    cursor: pointer;
}
.icon-header i{
    margin-left: 15px;
    font-size: 20px;
}

main{
  padding: 100px 0;
}
.container{
    display: inline-table;
    margin: 0 160px;
    width: 76%; 
}
.title{
    text-align: center;
    padding-bottom: 20px;
}
.title i{
    padding-right: 20px;
    font-size: 50px;
    color: #304A43;
}
.title h1{
    display: inline;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: #304A43;
}
.cart{
    display: inline-flex;
    width: 100%;
    background-color: #364A46;
}
.prod{
    display: flex;
    width: 100%;
    border: 1px solid #E6E2DB;
}
.col{
    padding: 10px;
}
.col p{
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
}
.col-2 p{
    text-align: left;
}
.col-1{
    width: 6%;
}
.col-2{
    width: 15%;
}
.col-3{
    width: 20%;
}
.col-4, .col-5, .col-6{
    width: 18%;
}
.col-7{
    width: 8%;
}
.cart-prod{
    display: inline-flex;
    margin: 10px 0;
    width: 100%;
}
.cart-prod .col p{
    color: #364A46;
    text-align: center;
}
.cart-prod .col-3 p{
    text-align: left;
}
.col-1 input{
    position: relative;
    left: 25px;
}
.cart-prod input{
    position: relative;
    top: 66px;
}
.prod-img{
    width: 100%;
    background-color: #E6E2DB;
}
.prod-img img{
    position: relative;
    top: 2px;
    left: 17px;
    width: 75%;
}
.col-3 p, .cart-prod p{
    text-align: left;
    padding-top: 50px;
}
.quantity {
    display: inline-block; 
}
.cart-prod .col-6 p{
    color: #FF9B71;
}
.quantity .input-text.qty {
    top: 45px;
    left: 20px;
     width: 35px;
     height: 30px;
     padding: 0 5px;
     text-align: center;
     background-color: transparent;
     border: 1px solid #efefef;
}
.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 top: 45px;
 left: 20px;
 padding: 7px 10px 8px;
 height: 30px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;
}

.quantity.buttons_added .minus {
 border-right: 0; 
}

.quantity.buttons_added .plus {
 border-left: 0; 
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; 
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; 
}
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; 
}
.total-items{
    margin-top: 50px;
    background-color: #E6E2DB;
}
.total-items .col{
    display: inline-flex;
}
.col-total-1{
    width: 65%;
    padding: 15px 0;
}
.col-total-2{
    width: 33%;
    padding: 15px 0;
}
.col-total-1 p{
    padding-left: 370px;
    font-size: 25px;
    color: #364A46;
}
.col-total-2 button{
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #364A46;
    background-color: #C4DD2A;
    border: none;
}
.col-total-2 button:hover{
     color: #ffffff;
     background-color: #304A43;
}
/* footer */
footer .column {
  float: left;
  padding: 10px;
  background-color: #E6E2DB;
}
footer .row{
    margin-bottom: 0;
}
/* Clear floats after the columns */
footer .row:after {
  content: "";
  display: table;
  clear: both;
}
footer .logo{
    padding-top: 40px;
}
footer .logo a{
    padding-left: 150px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    color: #364A46;
    font-size: 30px;
}
footer .logo a span{
    color: #C4DD2A;
    transition: all 0.3s ease;
}
.left{
    width: 600px;
    align-items: center;
}
.center, .left{
    height: 289px;
}
.center, .right{
    width: 374px;
}
.tagline p{
    padding: 10px 150px;
    width: 100%;
    font-size: 11px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
}
.socmed{
    padding: 15px 140px;
}
.socmed i{
    margin-left: 20px;
    color: #364A46;
    height: 25px;
    font-size: 30px;
}
.socmed img{
    height: 25px;
}
.center h2{
    padding-top: 40px;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    color: #364A46;
}
.center i{
    padding-top: 20px;
    float: left;
    font-size: 15px;
    color: #364A46;
}
.center p{
    padding: 20px 20px 5px 25px;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: left;
    color: #293329;
}
.right h2{
    padding-top: 40px;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    color: #364A46;
}
.right p{
    padding: 10px 0;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 500;
}
.policy{
    padding: 10px;
    text-align: center;
    background-color: #E6E2DB;
}
.policy p{
     margin: 20px;
    display: inline;
    font-size: 15px;
}
.footer-bottom{
    padding: 25px;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 100;
    color: #ffffff;
    background-color: #283E39;
}
