@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --headerclr:#222533;
    --mainclr:#ffcb0f;
}
*,html,body{
  font-family: 'Montserrat';
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: .2s;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.header{
    padding: 0 160px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    background-color: #FFFFFF;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.header .logo a{
    color: #364A46;
    font-size: 25px;
    font-style: italic;
    font-weight: 800;
}
.header .logo a span{
    color: #C4DD2A;
    transition: all 0.3s ease;
}
.header.sticky .logo a span{
    color: #fff;
}
.header .menu-btn{
  position: absolute;
  top: 14px;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left: 1179px;
}
.nav{
    width: 695px;
}
.nav a{
    color: #184d21;
    font-weight: 600;
    font-size: 15px;
    margin-left: 25px;
    float: right;
}
.nav a:hover{
    color: #E17371;
}
.icon-header div{
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.icon-header i{
    margin-left: 15px;
    font-size: 26px;

}

h2 {
  font-weight: 300;
  text-align: center;
}

main{
  padding: 100px 0;
}

.form
{
  width: fit-content;
  margin: 0 auto;
}

h1{
  font-size: 50px;
  font-weight: 800;
  text-align: center;
    color: #364A46;
}

.form p{
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
}

label{
  font-size: 14px;
  text-align: left !important;
  font-weight: 600;
  margin-bottom: 3px;
}

.form form{
  margin-top: 50px;
}
.form input{
  display: block;
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  border: 1px solid gray;
  margin-bottom: 15px;
}
.form a{
  color: #FF9B71;
  font-weight: 500;
  text-decoration: underline;
}
.form .form-group:first-child{
  margin-bottom: 20px;
}
.form .form-group input{
  margin-bottom: 15px;
}

.form .form-btn{
  font-size: 14px;
  font-weight: 700;
  width: unset;
  border-radius: 32px;
  padding: 8px 20px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #C4DD2A;
}

/* footer */
footer .column {
  float: left;
  padding: 10px;
  height: 300px;
  background-color: #E6E2DB;
}

/* Clear floats after the columns */
footer .row:after {
  content: "";
  display: table;
  clear: both;
}
footer .logo{
    padding-top: 40px;
}
footer .logo a{
    padding-left: 150px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    color: #364A46;
    font-size: 30px;
}
footer .logo a span{
    color: #C4DD2A;
    transition: all 0.3s ease;
}
.left{
    width: 600px;
    align-items: center;
}
.center, .right{
    width: 374.5px;
}
.tagline p{
    padding: 10px 150px;
    width: 100%;
    font-size: 11px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
}
.socmed{
    padding: 15px 140px;
}
.socmed i{
    margin-left: 20px;
    color: #364A46;
    height: 25px;
    font-size: 30px;
}
.socmed img{
    height: 25px;
}
.center h2{
    padding-top: 40px;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    color: #364A46;
}
.center i{
    padding-top: 20px;
    float: left;
    font-size: 15px;
    color: #364A46;
}
.center p{
    padding: 20px 0;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: left;
    color: #293329;
}
.right h2{
    padding-top: 40px;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    color: #364A46;
}
.right p{
    padding: 18px 0;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 500;
}
.footer-bottom{
    padding: 25px;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 100;
    color: #ffffff;
    background-color: #283E39;
}

/* Responsive Media Query */
@media (max-width: 1024px) {
    .nav {
        width: 440px;
    }
    .nav a {
        margin-left: 15px;
        font-size: 14px;
    }
    .header .logo a {
        font-size: 24px;
    }
    .icon-header i {
        margin-left: 0;
        font-size: 20px;
    }
    .left {
        width: 460px;
    }
    .tagline p {
        padding-left: 150px;
        font-size: 12px;
    }
    .center, .right {
        width: 282px;
    }
    footer h2 {
    text-align: left;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 140px;
    }
    .nav {
        display: none;
    }
    .header .menu-btn {
        top: 12px;
        color: #000000;
        font-size: 26px;
        padding-left: 450px;
    }
    .icon-header i {
        margin-right: 50px;
        font-size: 24px;
    }
    footer .logo a {
        font-size: 20px;
        align-items: center;
    }
    .tagline p {
        padding: 5px 0 5px 150px;
        font-size: 11px;
    }
    .socmed {
        padding: 5px 0 0 140px;
    }
    .socmed i {
        margin-left: 11px;
        font-size: 20px;
    }
    .left {
        width: 390px;
    }
    .center, .right {
        width: 189px;
    }
    .center h2 {
        padding-top: 50px;
        font-size: 12px;
    }
    .center i {
        font-size: 12px;
    }
    .center p {
        padding: 20px 0;
        font-size: 10px;
    }
    .right h2 {
        padding-top: 50px;
        font-size: 12px;
    }
}

@media (max-width: 640px){
    .header {
        padding: 0 100px;
    }
    .header .menu-btn {
        top: 11px;
        padding-left: 410px;
    }
    .icon-header i {
        margin-right: 40px;
    }
    h1 {
        font-size: 40px;
    }
    .form p {
        font-size: 14px;
    }
    footer .column {
        padding: 0;
    }
    footer .logo a {
        padding-left: 100px;
        font-size: 16px;
    }
    .left {
        width: 300px;
    }
    .tagline p {
        padding: 2px 0 5px 100px;
        font-size: 8px;
    }
    .socmed {
        padding: 5px 0 0 100px;
    }
    .socmed i {
        margin-left: 0;
        font-size: 15px;
    }
    .center, .right {
        width: 170px;
    }
    .center p {
        padding: 20px 0;
        font-size: 9px;
    }
    .right p {
        padding: 18px 0;
        font-size: 10px;
    }
    .footer-bottom {
        padding: 20px;
        font-size: 11px;
    }
}

@media (max-width: 375px){
    .header {
        padding: 0 10px;
    }
    .header .logo a {
        font-size: 20px;
    }
    .header .menu-btn {
        padding-left: 330px;
    }
    .left, .center, .right {
        width: 100%;
    }
    .left{
        text-align: center;
    }
    footer .logo a, .tagline p, .socmed {
        padding-left: 0;
    }
    .socmed i {
        margin: 5px;
    }
    footer .column {
        height: 130px;
    }
    .center h2 {
        padding-top: 0;
        font-size: 11px;
    }
    .center i {
        padding-top: 5px;
    }
    .center p {
        padding: 5px 5px 5px 15px;
    }
    .center h2, .center i, .center p{
        text-align: center;
    }
    .right h2 {
        padding-top: 0;
        text-align: center;
    }
    .right p {
        padding: 10px 0;
        text-align: center;
    }
}

@media (max-width: 320px){
    .header .menu-btn {
        padding-left: 270px;
    }
    h1 {
        font-size: 30px;
    }
    .form p {
        font-size: 12px;
    }
}






